@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

html,
body {
  font-family: "Roboto Condensed", sans-serif;
}
.img-size {
  width: 30%;
}
.bg-assessment {
  height: 100%; 
  width: 100vw;
  background-image: linear-gradient(120deg, #279d72, #109fd9 50%, #25598f 100%);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  margin: 0; 
  padding: 0; 
}

.container-scroll-smooth {
  margin-top: 1rem;
  max-height: 45vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.box-signin {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box-card {
  opacity: 0.8;
}
.ma-customer button {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.btn-open {
  background-color: #25598f;
  color: #fff;
}
.btn-open:hover {
  background-color: #279d72;
  color: #fff;
}

.btn-download {
  background-color: #25598f;
  color: #fff;
}
.btn-download:hover {
  background-color: #279d72;
  color: #fff;
}
.box-evaluation {
  display: flex !important;
  flex-direction: column !important;
}
.bg-blue {
  background-color: #25598f !important;
  color: #fff;
}
